body {
  margin: 0;
  max-width: 100vw;
}

html, body {margin: 0; height: 100%; overflow: hidden}

pre,
code {
  overflow: auto;
}

#pageContainer {
  display: flex;
  width: 70%;
  max-width: 100vw;
  height: 100vh;
}

#blocklyDiv {
  flex-basis: 100%;
  height: 80%;
  min-width: 600px;
}

#outputPane {
  display: flex;
  flex-direction: column;
  width: 400px;
  flex: 0 0 400px;
  overflow: auto;
  margin: 1rem;
}

#generatedCode {
  height: 50%;
  background-color: rgb(247, 240, 228);
}

#output {
  height: 50%;
}

